{% macro render_config(data, level=0) %}
<div class="config-level-{{ level }}" style="margin-left: {{ level * 15 }}px;">
    {% for key, value in data.items() %}
        {% if value is mapping %}
            <div class="mb-2">
                <strong class="text-uppercase fw-semibold small text-muted">{{ key | replace('_', ' ') }}</strong>
                {{ render_config(value, level + 1) }}
            </div>
        {% elif value is iterable and value is not string %}
            <div class="mb-1">
                <strong class="text-uppercase fw-semibold small text-muted">{{ key | replace('_', ' ') }}</strong>:
                <span class="fw-semibold small">{{ value | join(', ') }}</span>
            </div>
        {% elif value %}
            <div class="d-flex justify-content-between mb-1">
                <span class="text-uppercase small text-muted">{{ key | replace('_', ' ') }}</span>
                <span class="fw-semibold small">{{ value }}</span>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endmacro %}

{% macro render_info_recursive(data, level=0) %}
<div class="config-level-{{ level }}" style="margin-left: {{ level * 15 }}px;">
    {% for key, value in data.items() %}
        {% if value is mapping and 'value' in value %}
            <div class="d-flex justify-content-between mb-1">
                <span class="text-uppercase small text-muted">{{ key | string | replace('_',' ') }}</span>
                <span class="fw-semibold small">
                    {{ value.value }}
                    {% if value.unit %}<small class="text-muted text-uppercase small">{{ value.unit }}</small>{% endif %}
                </span>
            </div>
        {% elif value is mapping %}
            <div class="mb-2">
                <strong class="text-uppercase fw-semibold small text-muted">{{ key | string | replace('_',' ') }}</strong>
                {{ render_info_recursive(value, level + 1) }}
            </div>
        {% elif value is iterable and value is not string %}
            <div class="mb-1">
                <strong class="text-uppercase fw-semibold small text-muted">{{ key | string | replace('_',' ') }}</strong>:
                <span class="fw-semibold small">{{ value | join(', ') }}</span>
            </div>
        {% elif value %}
            <div class="d-flex justify-content-between mb-1">
                <span class="text-uppercase small text-muted">{{ key | string | replace('_',' ') }}</span>
                <span class="fw-semibold small">{{ value }}</span>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endmacro %}
