[MASTER]
jobs=0
ignore=CVS
persistent=no
py-version=3.12
suggestion-mode=yes
fail-under=10
reports=no
score=yes

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=foo,bar,baz,toto,tutu,tata
class-const-naming-style=UPPER_CASE
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
good-names=i,j,k,ex,Run,_
method-naming-style=snake_case
module-naming-style=snake_case
variable-naming-style=snake_case

[DESIGN]
max-args=20
max-attributes=20
max-branches=12
max-locals=15
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=0

[FORMAT]
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        use-symbolic-message-instead,
        missing-module-docstring,
        broad-exception-caught

[TYPECHECK]
ignore-none=yes
ignore-on-opaque-inference=yes
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1

[VARIABLES]
allow-global-unused-variables=yes
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_

[REPORTS]
evaluation=max(0, 0 if fatal else 10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10))
reports=no
score=yes
