{# External #}
{% set bootstrap_ver = "5.3.0" %}
{% set react_ver = "18.2.0" %}
{% set babel_ver = "7.23.9" %}
{% set font_awesome_ver = "6.4.0" %}

{# Internal #}
{% set int_live_ver = "0.9.0" %}
{% set int_static_ver = "0.9.0" %}

