{% extends "base.html" %}

{% block body %}

<div id="react-404-app"></div>
<script type="text/babel" src="{{ url_for('static', filename='jsx/components/404/not_found.jsx') }}"></script>
<script type="text/babel">
    function App() {
        return (
            <div className="container py-4">
                <div className="row g-4">
                    <NotFound />
                </div>
            </div>
        );
    }
    ReactDOM
        .createRoot(document.getElementById("react-404-app"))
        .render(<App />);
</script>

{% endblock %}
