<!DOCTYPE html>
<html lang="en">
{% include ".head.html" %}

<body>
    {% include ".header.html" %}
    {% include ".scripts.html" %}

    <div id="react-config-app"></div>

    <script type="text/babel" src="{{ url_for('static', filename='js/components/config/config.jsx') }}"></script>
    <script type="text/babel">
        const token = "{{ session['bearer_token_hash'] }}";
        function App({ token }) {
            return (
                <div className="container py-4">
                    <Config token={token} />
                </div>
            );
        }
        ReactDOM
            .createRoot(document.getElementById("react-config-app"))
            .render(<App token={token} />);
    </script>

</body>

</html>
