{% from '.deps_internal_jsx.jinja2' import dhcp_jsx %}
{% extends "base.html" %}

{% block body %}

<div id="app"></div>

<script type="text/babel" src="{{ dhcp_jsx }}"></script>
<script type="text/babel">
    const token = "{{ session['bearer_token_hash'] }}";
    function App({ token }) {
        return (
            <div className="container py-4">
                <Dhcp token={token} />
            </div>
        );
    }
    ReactDOM
        .createRoot(document.getElementById('app'))
        .render(<App token={token} />);
</script>

{% endblock %}
