{% extends "base.html" %}

{% block body %}
<div id="react-dns-app"></div>

<script type="text/babel" src="{{ url_for('static', filename='jsx/components/dns/dns.jsx') }}"></script>

<script type="text/babel">
    const token = "{{ session['bearer_token_hash'] }}";
    function App({ token }) {
        return (
            <div className="container py-4">
                <Dns token={token} />
            </div>
        );
    }
    ReactDOM
        .createRoot(document.getElementById("react-dns-app"))
        .render(<App token={token} />);
</script>

{% endblock %}
