{% from 'macros/icons.jinja2' import icons %}

<!DOCTYPE html>
<html lang="en">
{% include ".head.html" %}

<body>
    {% include ".header.html" %}
    {% include ".scripts.html" %}

    <div id="react-app-metrics"></div>

    <script type="text/babel" src="{{ url_for('static', filename='js/components/metrics/Metrics.jsx') }}"></script>
    <script type="text/babel">
        const token = "{{ session['bearer_token_hash'] }}";
        function App({ token }) {
            return (
                <div className="container py-4">
                    <Metrics token={token} />
                </div>
            )
        }
        ReactDOM
            .createRoot(document.getElementById("react-app-metrics"))
            .render(<App token={token} />);
    </script>
</body>

</html>
