{% from 'macros/recursive_generation.jinja2' import generate_recursive_content %}
{% from 'macros/icons.jinja2' import icons %}

<!DOCTYPE html>
<html lang="en">
{% include ".head.html" %}

<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>

<body>
    {% include ".header.html" %}

    <div id="react-app"></div>
    <div id="modal-root"></div>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/neural-net/Specs.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/neural-net/Actions.jsx') }}"></script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural-net/Blacklists.jsx') }}"></script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural-net/Whitelists.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/neural-net/DnsHistory.jsx') }}">
    </script>
    <script type="text/javascript">
        const initialBlacklists = {{ blacklist | tojson | safe }};
        const initialWhitelists = {{ whitelist | tojson | safe }};
        const dnsHistory = {{ dns_history | tojson | safe }};
        const config = {{ neural_net_config | tojson | safe }};
    </script>
    <script type="text/babel">
        const token = "{{ bearer_token_hash }}";
        function App({ token, config }) {
            const { useState } = React;
            const [blacklists, setBlacklists] = useState(initialBlacklists || []);
            const [whitelists, setWhitelists] = useState(initialWhitelists || []);
            const [history, setHistory] = useState(dnsHistory || []);
            const [predictions, setPredictions] = useState([]);
            return (
                <div className="container py-4">
                    <div id="react-app-specs">
                        <Specs config={config} />
                    </div>
                    <div id="react-app-model-actions">
                        <Actions token={token} dnsHistory={(history || []).map((each) => each.query)} predictions={predictions} setPredictions={setPredictions} />
                    </div>
                    <div className="row g-4">
                        <div className="col-12 col-md-6">
                            <Blacklists
                                token={token}
                                blacklists={blacklists}
                                setBlacklists={setBlacklists}
                            />
                        </div>
                        <div className="col-12 col-md-6">
                            <Whitelists
                                token={token}
                                whitelists={whitelists}
                                setWhitelists={setWhitelists}
                            />
                        </div>
                    </div>
                    <div id="react-app-dnsHistory">
                        <HistoryDomains token={token} dnsHistory={history} blacklists={blacklists} whitelists={whitelists} predictions={predictions} />
                    </div>
                </div>
            );
        }

        ReactDOM.createRoot(document.getElementById("react-app"))
            .render(
                <App
                    token={token}
                    config={config}
                    initialBlacklists={initialBlacklists}
                    initialWhitelists={initialWhitelists}
                    dnsHistory={dnsHistory}
                />
            );
    </script>
</body>

</html>
