{% from 'macros/recursive_generation.jinja2' import generate_recursive_content %}
{% from 'macros/icons.jinja2' import icons %}

<!DOCTYPE html>
<html lang="en">
{% include ".head.html" %}

<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>

<body>
    {% include ".header.html" %}
    <div class="container py-4">

        <!-- Specs -->
        <div id="react-app-specs"></div>

        <!-- Model Actions -->
        <div id="react-app-model-actions"></div>

        <div class="row g-4">
            <!-- Blacklist -->
            <div id="react-app-blacklist" class="col-12 col-md-6"></div>
            <!-- Whitelist -->
            <div id="react-app-whitelist" class="col-12 col-md-6"></div>
        </div>

        <!-- DNS History -->
        <div id="react-app-dnsHistory"></div>

        <!-- Modals -->
        <div id="modal-root"></div>

    </div>
    <script id="config" type="application/json">{{ config | tojson | safe }}</script>
    <script id="dns-history" type="application/json">{{ dns_history | tojson | safe }}</script>
    <script id="blacklists" type="application/json">{{ blacklist | tojson | safe }}</script>
    <script id="whitelists" type="application/json">{{ whitelist | tojson | safe }}</script>
    <script>
        const token = "{{ bearer_token_hash }}";
        const config = JSON.parse(document.getElementById('config').textContent);
        const initialBlacklists = JSON.parse(document.getElementById('blacklists').textContent);
        const initialWhitelists = JSON.parse(document.getElementById('whitelists').textContent);
        const dnsHistory = JSON.parse(document.getElementById('dns-history').textContent);
        const dnsHistoryUrlList = dnsHistory.map(item => item.query)
    </script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/neural-net/Specs.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("react-app-specs")).render(<Specs config={config} />);
    </script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/neural-net/Actions.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("react-app-model-actions"))
            .render(<Actions token={token} dnsHistory={dnsHistoryUrlList} />);
    </script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural-net/Blacklists.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("react-app-blacklist"))
            .render(<Blacklists token={token} initialBlacklists={initialBlacklists} />);
    </script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural-net/Whitelists.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("react-app-whitelist"))
            .render(<Whitelists token={token} initialWhitelists={initialWhitelists} />);
    </script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural-net/DnsHistory.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.createRoot(document.getElementById("react-app-dnsHistory"))
            .render(<HistoryDomains token={token} dnsHistory={dnsHistory} />);
    </script>
</body>

</html>
