<!DOCTYPE html>
<html lang="en">

{% include ".head.html" %}

<body>
    {% include ".header.html" %}
    {% include ".scripts.html" %}

    <div id="react-app-neural-net"></div>
    <div id="modal-root"></div>

    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural_net/nn_actions.jsx') }}"></script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural_net/nn_blacklists.jsx') }}"></script>
    <script type="text/babel"
        src="{{ url_for('static', filename='js/components/neural_net/nn_whitelists.jsx') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/neural_net/nn_dns_history.jsx') }}">
    </script>

    <script type="text/babel">
        const token = "{{ session['bearer_token_hash'] }}";
        function App({ token }) {
            const { useState, useEffect } = React;
            const [blacklists, setBlacklists] = useState([]);
            const [whitelists, setWhitelists] = useState([]);
            const [history, setHistory] = useState([]);
            const [predictions, setPredictions] = useState([]);
            const [loading, setLoading] = useState(false);

            useEffect(() => {
                const fetchDnsHistory = async () => {
                    setLoading(true);
                    try {
                        const res = await fetcher({ token, category: 'dns-history', type: 'get' });
                        if (!res.ok) throw new Error('Server error');
                        const data = await res.json();
                        if (!data.success || !Array.isArray(data.payload)) throw new Error('Invalid response format');
                        setHistory(data.payload);
                    } catch (err) {
                        console.error(err);
                    } finally {
                        setLoading(false);
                    }
                };
                fetchDnsHistory();
            }, []);
            return (
                <div className="container py-4">
                    <div className="row g-4 mb-4">
                        <div className="col-md-6">
                            <Actions
                                token={token}
                                dnsHistory={Array.isArray(history) && history.length ? history.map(item => item.query) : []}
                                predictions={predictions}
                                setPredictions={setPredictions} />
                        </div>
                        <div className="col-md-6">
                            <HistoryDomains
                                token={token}
                                dnsHistory={history}
                                blacklists={blacklists}
                                whitelists={whitelists}
                                predictions={predictions}
                            />
                        </div>
                    </div>
                    <div className="row g-4 mb-4">
                        <div className="col-12 col-md-6">
                            <Blacklists
                                token={token}
                                blacklists={blacklists}
                                setBlacklists={setBlacklists}
                            />
                        </div>
                        <div className="col-12 col-md-6">
                            <Whitelists
                                token={token}
                                whitelists={whitelists}
                                setWhitelists={setWhitelists}
                            />
                        </div>
                    </div>
                </div>
            );
        }

        ReactDOM
            .createRoot(document.getElementById("react-app-neural-net"))
            .render(<App token={token} />);
    </script>
</body>

</html>
