{% import 'macros/external_dependancies.jinja2' as deps %}
{% import 'macros/internal_dependencies.jinja2' as deps_int %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="NetArchon — a tool for managing your own network." />

    <title>{{ active_page | title }}</title>

    <link rel="icon" href="{{ deps_int.favicon_url }}" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ deps_int.style_css }}" />
    <link rel="stylesheet" href="{{ deps.bootstrap_css }}" />
    <link rel="stylesheet" href="{{ deps.fontawesome_css }}" />

    <script src="{{ deps.bootstrap_js }}"></script>
    <script src="{{ deps.babel_js }}"></script>
    <script src="{{ deps.react_js }}"></script>
    <script src="{{ deps.react_dom_js }}"></script>

    <script src="{{ deps_int.helpers_js }}"></script>
    <script type="text/babel" src="{{ deps_int.common_jsx }}"></script>
</head>
